h1{
    color: darkred;
    font-style: unset;

}
body{
    background-color: bisque;
}
p.carta{
    position: relative;
    top: 150px;
}
img.carta{
    position: relative;
    top: 0px;
    left: 65px;
}
p.cafes{
    position: relative;
    top: 25px;
    left: 250px;
}
img.cafe{
    position: relative;
    top: 25px;
    left: 315px;
}
p.contacto{
    position: relative;
    top: 50px;
    left: 450px;
}
img.contacto{
    position: relative;
    top: 50px;
    left: 75px;
}
p{
    color: firebrick;
}